main.page-produto {
  display: flex;
  flex-direction: column;

  .detalhes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    .topo {
      padding: 10px;

      .nome {
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
        font-weight: bolder;
        position: sticky;
        height: fit-content;
        top: 90px;
      }

    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
    }

  }

  .opcoes {
    background-color: white;
  }

}

@media (min-width: 1100px) {

  main.page-produto {
    flex-direction: row;
    width: 1100px;
    margin: auto;

    .detalhes {
      max-width: 65%;

      .topo {
        display: flex;
        flex-direction: row-reverse;

        .banner-produto {
          width: 100%;
        }

      }

    }

    .desktop {
      width: 35%;
      
      .opcoes {
        width: 100%;
      }
    }

  }

}

@media (min-width: 1500px) {
  main.page-produto {
    width: 70%;
  }
}

aside.page-produto {
  margin-top: 100px;
}