.page-produtos  {

  .page-produtos-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .opcoes-produtos {
    background-color: white;
    border: black solid 2px;
    height: 100px;
  }
  .grid-produtos {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    gap: 10px;
  }

}

@media (min-width: 1000px) {
  .page-produtos {

    .page-produtos-div {
      flex-direction: row;
      width: 90%;
      margin: auto;
    }
    .opcoes-produtos {
      width: 20%;
      height: 500px;

      position: sticky;
      top: 12.5vh
    }
    .grid-produtos {
      width: 80%;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

  }
}