header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}
header.sticky-on  {
    .header-sec {
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.199);
    }
}

header {

    .header-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;
        background-color: white;
    }
    .menu-logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .menu {
        width: 25px;
        height: 25px;
    }
    .header-restante {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    img {
        max-width: 100px;
    }
    .pesquisa {
        align-items: center;
        padding: 13px 15px;
        border-radius: 15px;
        width: calc(300px + 20vw); 
        justify-content: space-between;
    }
    .pesquisa-desktop {
        display: none;
    }
    .pesquisa-mobile {
        width: 100%;
        background-color: white;
        border-radius: 0px;
        display: flex;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
        position: absolute;
        pointer-events: none
    }
    .pesquisa-aberta {
        transform: translateY(0%);
        pointer-events: all;
    }
    input {
        border: none;
        outline: none;
        font-size: 1.1em;
        background-color: inherit;
    }
    .icone {
        padding: 10px;
    }
    .lupa {
        cursor: pointer;
    }
    .carrinho {
        position: relative;
        height: fit-content;
        display: inline-block;
    }
    .num-carrinho {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translateX(-100%);

        width: 18px;
        height: 18px;
        font-size: 11px;
        font-weight: bolder;
        color: white;
        border-radius: 100%;
        background-color: rgb(0, 0, 0);
    }


    nav {
        transform: translateY(-100%);
        transition: transform 0.3s ease;

        flex-direction: column;
        background-color: rgb(248, 248, 248);
        width: 100%;

        max-height: 0px;
        display: flex;
        position: absolute;
        pointer-events: none;
        z-index: -1;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.199);
    }

    nav.menu-aberto {
        transform: translateY(0%);
        pointer-events: all;
        max-height: fit-content;
    }
    .nav-item {
        transform: translateY(-700%);
        transition: transform 0.3s ease;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: left;
        background-color: inherit;
    }
    nav.menu-aberto .nav-item {
        transform: translateY(0%);
    }

}

@media (min-width: 979px) {
    header .header-sec {
        justify-content: center;
        height: 90px;
    }
    header img { 
        max-width: 140px;
    }
    header .pesquisa-desktop {
        display: flex;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.199);
    }
    header .pesquisa-mobile, header .botao-pesquisa {
        display: none;
    }

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        transform: translateY(0%);
        opacity: 1;
        max-height: fit-content;
        pointer-events: all;
        border-bottom: none;
    }
    header.sticky-on nav {
        transform: translateY(-100%);
    }
    header .menu {
        display: none;
    }
    header .nav-item {
        width: fit-content;
        transform: translateY(0%);
        border-bottom: black solid 2px;
    }
    header .nav-item:hover{
        border-bottom: rgb(92, 164, 231) solid 2px;
    }
}