header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

header {

    .header-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;
        background-color: white;
    }
    .menu-logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .menu {
        width: 25px;
        height: 25px;
    }
    .header-restante {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    img {
        max-width: 100px;
    }
    .pesquisa {
        align-items: center;
        padding: 15px;
        border-radius: 15px;
        width: calc(300px + 20vw); 
        justify-content: space-between;
    }
    .pesquisa-desktop {
        display: none;
    }
    .botao-pesquisa {
        margin-bottom: 4px;
    }
    .pesquisa-mobile {
        width: 100%;
        background-color: white;
        border-radius: 0px;
        display: flex;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
        position: absolute;
        pointer-events: none
    }
    .pesquisa-aberta {
        transform: translateY(0%);
        pointer-events: all;
    }
    input {
        border: none;
        outline: none;
        font-size: 1.1em;
        background-color: inherit;
    }
    .lupa {
        cursor: pointer;
    }


    nav {
        transform: translateY(-100%);
        transition: transform 0.3s ease;

        flex-direction: column;
        background-color: rgb(240,240,240);
        width: 100%;

        max-height: 0px;
        display: flex;
        position: absolute;
        pointer-events: none;
        z-index: -1;
    }

    nav.menu-aberto {
        transform: translateY(0%);
        pointer-events: all;
        max-height: fit-content;
    }
    .nav-item {
        transform: translateY(-700%);
        transition: transform 0.3s ease;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: left;
        background-color: rgb(240,240,240);
    }
    nav.menu-aberto .nav-item {
        transform: translateY(0%);
    }

}

@media (min-width: 979px) {
    header .header-sec {
        justify-content: center;
    }
    header img { 
        max-width: 140px;
    }
    header .pesquisa-desktop {
        display: flex;
        border: 2px solid rgba(0, 0, 0, 0.438);
    }
    header .pesquisa-mobile, header .botao-pesquisa {
        display: none;
    }

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        transform: translateY(0%);
        opacity: 1;
        max-height: fit-content;
        pointer-events: all;
    }
    header.sticky-on nav {
        transform: translateY(-100%);
    }
    header .menu {
        display: none;
    }
    header .nav-item {
        width: fit-content;
        transform: translateY(0%);
        border-radius: 10px;
    }
    header .nav-item:hover{
        transform: scale(1.1);
    }
}