:root {
    --cor-fundo: #ffffff;
    --cor-fonte: #000000;
}

footer {
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    padding: 15px 15px;
    background-color: var(--cor-fundo);
    font-size: 1.0em;
    color: var(--cor-fonte);
}

footer {
    
    .grid-footer {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 20px 0px;
        min-width: fit-content;
        overflow: hidden;
    }
    .titulo {
        font-size: 1.1em;
    }
    .btn-menu {
        display: flex;
        align-items: center;
        height: 40px;
        width: 100%;
        justify-content: space-between;
        cursor: pointer;
    }
    .btn-menu>.fechar {
        display: none;
    }
    .btn-menu>.abrir {
        display: inline-block;
    }
    .itens-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        max-height: 0px;
        position: relative;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }
    .institu-aberto {
        max-height: 250px;
    }
    .polit-aberto {
        max-height: 130px;
    }
    .btn-aberto .fechar {
        display: inline-block;
    }
    .btn-aberto .abrir {
        display: none;
    }
    .canal {
        display: flex;
        align-items: center;
        gap: 7px;
        padding-bottom: 10px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.205);
    }

    .itens-formas {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }
    .itens-formas>img {
        height: 30px;
        max-width: 100%;
    }
    
    section>p {
        display: none;
    }

    .whatsapp {
        color: var(--cor-fonte);
    }
    .email {
        color: var(--cor-fonte);
    }
    .instagram {
        color: var(--cor-fonte);
    }

}

@media (min-width: 950px) {
    footer .grid-footer {
        grid-template-columns: 1fr 1fr;
    }
    footer .btn-menu {
        display: none;
    }
    footer .itens-menu {
        max-height: fit-content;
        flex-direction: column;
        transform: translateY(0%);
        opacity: 1;
    }
    footer section>p {
        display: block;
    }
    footer .item-menu:hover {
        color: rgb(158, 158, 158);
    }
}

@media (min-width: 1150px) {
    footer {
        font-size: 1.05em;
    }
    footer .grid-footer {
        grid-template-columns: repeat(4, 1fr);
        padding: 0px 70px;
    }
    footer section {
        padding: 20px;
    }
}