.blocoProd {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.blocoProd>h3 {
    color: black;
}
.blocoProd .bloco-produtos {
    gap: 5px;
    display: flex;
    padding: 10px 0px;
    transition: transform 0.3s ease;
}   
.blocoProd .carrossel-corte {
    overflow-x: auto;  
}
.blocoProd .carrossel-btn {
    display: none;
}

@media (min-width: 1060px) {
    .blocoProd {
        width: 990px;
    }
    .blocoProd .carrossel {
        position: relative;
    }
    .blocoProd .bloco-produtos {
        gap: 10px;
        width: 100%;
        padding: 10px 0px 10px 20px;;
    }
    .blocoProd .carrossel-corte {
        overflow: hidden;
    }
    .blocoProd .carrossel-btn {
        width: 40px;
        height: 40px;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .blocoProd .btn-sumir {
        display: none;
    }
    .blocoProd .prox {
        right: -40px;
    }
    .blocoProd .ant {
        left: -40px;
    }
}
@media (min-width: 1300px) {
    .blocoProd {
        width: 1230px;
    }
}