.blocoProd {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    
}

.blocoProd {

    >h3 {
        color: black;
    }
    .bloco-produtos {
        gap: 5px;
        display: flex;
        padding: 10px 0px;
        transition: transform 0.3s ease;
        align-items: center;
    }
    .item-bloco {
        flex: 0 0 calc(50% - 2.5px);
        min-width: 0px;
        box-sizing: border-box;
        scroll-snap-align: start;
        height: 100%;
    } 
    .carrossel-corte {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .carrossel-corte::-webkit-scrollbar {
        display: none;
    }
    .carrossel-btn {
        display: none;
    }
}
@media (min-width: 670px) {
    .blocoProd .item-bloco {
        flex: 0 0 calc(33% - 2.5px);
    } 
}

@media (min-width: 930px) {
    .blocoProd {
        width: 840px;
    }
    .blocoProd {

        >h3 {
            color: black;
        }
        .carrossel {
            position: relative;
        }
        .bloco-produtos {
            display: flex;
            gap: 10px;
            width: 100%;
            padding: 25px 20px;
            transition: transform 0.4s ease;
        }
        .item-bloco {
            flex: 0 0 260px;
        } 
        .carrossel-corte {
            overflow: hidden;
        }
        .carrossel-btn {
            width: 40px;
            height: 40px;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn-sumir {
            display: none;
        }
        .prox {
            right: -40px;
        }
        .ant {
            left: -40px;
        }
    }
}
@media (min-width: 1200px) {
    .blocoProd {
        width: 1110px;
    }
}
@media (min-width: 1450px) {
    .blocoProd {
        width: 1380px;
    }
}