:root {
    --laranja: #b45424;
    --verde: #8ba072;
    --rosa: #b6635d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6; 
    background-color: white;
}
a, a:hover {
    text-decoration: none;
    color: inherit;
}
button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}
